@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto', sans-serif;
}
header {
    background: url(../img/header2.jpg);
}

header.h-64 {
    height: 20rem;
}

nav.bg-grey {
    background: #E1E1E1;
}

section.mt-8 {
    margin-top: 10rem;
}